<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144181677357-h27fr37vud0ol8udk0k7t3649o5kjjoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144181677357-h27fr37vud0ol8udk0k7t3649o5kjjoq</string>
	<key>API_KEY</key>
	<string>AIzaSyDodPhjMlAV4pL_RsRy4f0ZPlCQCdkTdDc</string>
	<key>GCM_SENDER_ID</key>
	<string>144181677357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfarmed</string>
	<key>PROJECT_ID</key>
	<string>myfarmed</string>
	<key>STORAGE_BUCKET</key>
	<string>myfarmed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144181677357:ios:7db4d9a8a3d563576457a4</string>
</dict>
</plist>